body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.grid {
  display: grid;
  place-items: center;
  margin-top: 100px;
}
.card {
  -webkit-box-shadow: 7px 7px 0px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 7px 7px 0px 1px rgba(0, 0, 0, 0.42);
  border-radius: 2px;
  font-size: medium;
}
.welcome-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 300px;
  display: grid;
  padding: 10px;
  align-items: center;
}
.new-label {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 12px 0;
  word-break: break-all;
}
.success {
  text-align: center;
  font-size: medium;
  line-height: 28px;
}
.symbols-counter {
  margin-top: 0;
  color: var(--theme-color);
  margin-bottom: 0;
  font-size: smaller;
}
.move-btn {
  margin-left: -8px;
  margin-bottom: 0;
  margin-top: 10px;
}
.highlight {
  color: #248e6b;
}
.credentials {
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .card {
    font-size: large;
  }
  .symbols-counter {
    font-size: medium;
  }
  .container,
  .welcome-container {
    width: 550px;
    padding: 30px;
  }
  .new-label {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 16px 0;
  }
  .credentials {
    margin-bottom: 20px;
  }
  .success {
    font-size: large;
  }
}
